<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>Acceso</title>
</head>

<body class="d-flex flex-column min-vh-100">
    <header>
        <nav class="navbar py-6 text-bg-dark ">
            <div class="container-fluid ">
                <a class="navbar-brand text-light" href="#">
                    <img src="../img/logo-logitrack.webp" alt="Logo" width="80" height="60"
                        class="d-inline-block align-text-top ">
                </a>
            </div>
        </nav>
    </header>
    <main class="d-flex flex-grow-1 h-100">
        <div class="mx-auto mt-5 pt-5 col-11 col-sm-8 col-md-5 col-lg-3">
            <div class="card rounded-4 border-1 p-4">
                <form>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>

                    <!-- Mensaje de error -->
                    <div id="mensajeError" class="alert alert-danger d-none mb-3" role="alert">
                        Email o contraseña incorrectos.
                    </div>

                    <button type="button" class="btn btn-primary" id="btnIngresar">Ingresar</button>
                </form>
            </div>
        </div>
    </main>
    <footer class="border-top mt-auto bg-dark">
        <p class="text-center my-4 text-light">© 2026 Sistema Federal de Gestión de Logística y Distribución. Todos los
            derechos reservados</p>
    </footer>

    <script src="../js/validarLogin.js"></script>
</body>

</html>